<div class=" w-full fixed px-4 pt-2">
    <nav class="text-custom-text bg-custom-semiBg2 flex flex-row items-center justify-between w-full py-2 px-4 rounded-md">
      <!-- logo -->
      <div class="flex items-center">
        <!-- logo image -->
        <img class="w-10 h-10" src="../../../../assets/icons/FireFist--logo.png" alt="logo" />
        <!-- logo text -->
        <h1 class="text-2xl uppercase font-semibold text-custom-primary">FireFist</h1>
      </div>
      <!-- navigation -->
      <ul class="flex flex-row items-center sm:gap-6 md:gap-12">
        @for (link of links; track $index) {
          <li>
            <a class=" cursor-pointer">{{ link.name }}</a>
          </li>
        }
      </ul>
      <!-- if the user logged in successfully -->
      @if (loggedIn) {
        <button>Logout</button>
        <!-- if the user not logged in -->
      } @else {
        <!-- login button -->
        <button class="py-2 px-3 border border-custom-accent rounded-md text-custom-accent bg-transparent">Login</button>
      }
    </nav>
</div>
