<div class="flex h-svh w-full items-center justify-center text-custom-text">
  <div
    class="flex h-96 w-96 flex-col items-center justify-center rounded-md bg-custom-semiBg1"
  >
    <h1 class="mb-2 text-3xl font-bold">Hire there!</h1>
    <p class="mb-3">login to your account.</p>

    <!-- login form -->
    <form class="flex flex-col gap-2">
      <!-- email input -->
      <input
        type="email"
        class="w-full rounded-md border-2 border-custom-accent bg-custom-bg px-4 py-2 focus:outline-none"
        placeholder="Email"
      />
      <!-- password input -->
      <input
        type="password"
        class="w-full rounded-md border-2 border-custom-accent bg-custom-bg px-4 py-2 focus:outline-none"
        placeholder="Password"
      />
      <!-- login button -->
      <button
        type="submit"
        class="hover:bg-custom-accent-dark w-full rounded-md bg-custom-accent px-4 py-2 font-semibold text-custom-text"
      >
        Login
      </button>
    </form>
  </div>
</div>
